body {
    font-family: Arial, Helvetica, monospace;
    margin: 0;
}

.input {
    justify-items: center;
    text-align: center;
    padding: 50px;
    flex-direction: column;
}

#btn-cadastro {
    background-color: #557AF7;
    border-radius: 9px;
    color: #f5f5f5;
    padding: 5px 10px;
    font-weight: bold;
    font-size: 1rem;
    border: 1px;
    transition: all 0.3s ease;
}

#btn-cadastro:hover {
    cursor: pointer;
    transform: scale(1.02);
}

input {
    border-radius: 6px;
    background-color: #fafafa;
    border: 1px solid black;
}

h2 {
    font-weight: 300;
}

.btn-saldo {
    background-color: #557AF7;
    border-radius: 9px;
    color: #f5f5f5;
    padding: 5px 10px;
    font-weight: bold;
    font-size: 0.7rem;
    border: 1px;
    margin-left: 10px;
    transition: all 0.3s ease;
}

.btn-saldo:hover {
    cursor: pointer;
    transform: scale(1.02);
}